<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
<appSettings>
  <add key="IS_ON_APPHARBOR" value="No"/>
   <add key="DropboxAppKey" value="Debug"/>
  <add key="DropboxAppSecret" value="Debug"/>
  <add key="OAuthKey" value="Debug"/>
  <add key="OAuthSecret" value="Debug"/>
  <add key="MongoConnectionString" value="Debug"/>
  <add key="MongoDatabaseName" value="Debug"/>
</appSettings>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>